body {
  background-image: url("/images/cropty_home_page_background.jpg");
  background-size: cover;
  padding: 2%;
}

form {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: blue;
}

label{
  margin: 10px;
}

h1,
h3 {
  text-align: center;
  margin-top: 2%;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-logo {
  width: 125px;
  height: 75px;
}

.navbar {
  background-color: #1a3f52;

}

.row {
  margin-left: 5%;
  margin-right: 10%;
  color: antiquewhite;
}


  
